[Boson Unit]
IsFacility=true
TerrainType=0
Name=Techcenter
Id=12
Health=300
MineralCost=400
Producer=10
Requirements=5,2,3
UnitWidth=2.0
UnitHeight=2.0
ProductionTime=200

[Boson Facility]
ConstructionSteps=27

