[Boson Unit]
IsFacility=false
TerrainType=0
Name=Batzen
Id=10006
Health=100
MineralCost=150
WeaponRange=6
WeaponDamage=12
Reload=50
Producer=0
Requirements=3
Armor=1
ProductionTime=80
ShotSpeed=6

[Boson Mobile Unit]
Speed=4
CanGoOnLand=true
CanGoOnWater=false
