[Desktop Entry]
Version=1.0
GenericName=Unit Editor for Boson
Comment=Edit Units for Boson
Name=BoUnit
Exec=bounit
Icon=boson
X-DocPath=boson/index.html
Type=Application
Terminal=false
Categories=Game;StrategyGame;
