[Boson Unit]
IsFacility=false
TerrainType=0
Name=Tank
Id=10005
Health=100
MineralCost=100
Range=100
Damage=100
Reload=50
Producer=0

[Boson Mobile Unit]
Speed=3
CanGoOnLand=true
CanGoOnWater=false
