[Boson Unit]
IsFacility=true
TerrainType=0
Name=Prison
Id=11
Health=200
MineralCost=250
Producer=10
Requirements=5,2
UnitWidth=2.0
UnitHeight=2.0
ProductionTime=70

[Boson Facility]
ConstructionSteps=14

