[Boson Unit]
IsFacility=false
TerrainType=0
Name=Quad
Id=10001
Health=50
MineralCost=100
Range=4
Damage=10
Reload=5
Producer=0

[Boson Mobile Unit]
Speed=4
CanGoOnLand=true
CanGoOnWater=false
