[Boson Unit]
IsFacility=false
TerrainType=0
Name=Quad
Id=10001
Health=50
MineralCost=100
WeaponRange=4
WeaponDamage=10
Reload=5
Producer=0
Requirements=3

[Boson Mobile Unit]
Speed=4
CanGoOnLand=true
CanGoOnWater=false

