[Boson Unit]
IsFacility=true
TerrainType=0
Name=Mineral Refinery
Id=13
Health=250
MineralCost=100
Producer=10
Requirements=5,2
UnitWidth=2.0
UnitHeight=2.0
ProductionTime=130
DestroyedParticles=1001

[Boson Facility]
CanRefineMinerals=true
ConstructionSteps=20

