[Boson Unit]
IsFacility=true
TerrainType=0
Name=Command Bunker
Id=5
Health=100
MineralCost=100
Producer=10

[Boson Facility]
CanProduce=true
ProducerList=10
