[Boson Unit]
IsFacility=true
TerrainType=0
Name=Command Bunker
Id=5
Health=400
MineralCost=600
Producer=10

[Boson Facility]
CanProduce=true

[ProductionPlugin]
ProducerList=10
