[Boson Unit]
IsFacility=true
TerrainType=0
Name=Sam Site
Id=6
Health=100
MineralCost=150
WeaponRange=5
WeaponDamage=15
Reload=15
CanShootAtAirUnits=true
CanShootAtLandUnits=false
Producer=10
Requirements=5,0,2

[Textures]
Textures=bomber_m.jpg
bomber_m.jpg=bomber_metal1a.jpg

