[Desktop Entry]
Version=1.0
Name=Boson Info
GenericName=Boson System Information
Exec=boinfo
Icon=boson
X-DocPath=boson/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Game;StrategyGame;

