[Boson Unit]
IsFacility=false
TerrainType=1
Name=Ship
Id=10000
Health=120
MineralCost=200
WeaponRange=5
WeaponDamage=25
Reload=20
Producer=1
Requirements=3
UnitWidth=2.0
UnitHeight=2.0
ProductionTime=100

[Boson Mobile Unit]
Speed=3
CanGoOnLand=false
CanGoOnWater=true
