[Boson Unit]
IsFacility=false
TerrainType=1
Name=Ship
Id=10000
Health=100
MineralCost=100
Range=100
Damage=40
Reload=30
Producer=1

[Boson Mobile Unit]
Speed=3
CanGoOnLand=false
CanGoOnWater=true
