[Desktop Entry]
Comment=Server for the Boson game
Comment[fr]=Serveur pour le jeu Boson
Name=Boson server
Name[fr]=Serveur de Boson
Exec=boserver  
MapNotify=true
TerminalOptions=
Icon=boserver
Path=
DocPath=
Type=Application
Terminal=0
InitialPreference=8

