[Boson Unit]
IsFacility=true
TerrainType=0
Name=Mineral Refinery
Id=13
Health=100
MineralCost=100
Producer=10

[Boson Facility]
CanRefineMinerals=true
