[Boson Unit]
IsFacility=false
TerrainType=0
Name=Batzen
Id=10006
Health=100
MineralCost=150
Range=4
Damage=10
Reload=10
Producer=0

[Boson Mobile Unit]
Speed=4
CanGoOnLand=true
CanGoOnWater=false
