BODY {
    color: #00ff00;
    background-color: #000000;
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

/** Stupid buggy Konqueror */
td {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  background-color: #000000;
  color: #00ff00;
}

table.thumbs {
  background-color: #004000;
  color: #00ff00;
}

table.values {
  background-color: #004000;
  color: #00ff00;
}

.thumb_header {
  background-color: #202020;
  color: #00ff00;
  font-weight: bold;
}

table.nav {
  background-color: #004000;
  color: #00ff00;
}

.image_border {
    border-color: navy;
    border-width: 2px;
    border-style: groove;
}
/** Links **/
a {
  color: #40d040;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #40d040;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  background-color: #204020;
  color: #40d040;
  text-decoration: none;
}

DL {
    margin: .8em 0;
    line-height: 1.2;
}


H1 {
    font-size: 21px;
    font-weight : bold;
}

H2 {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

H3 {
    font-size: 18px;
}
