[Desktop Entry]
Encoding=UTF-8
Name=Boson Info
GenericName=Boson System Information
Exec=boinfo
Icon=boson
Path=
X-DocPath=boson/index.html
Type=Application
Terminal=false
Categories=Qt;KDE;Game;StrategyGame;

