[Boson Unit]
IsFacility=true
TerrainType=0
Name=War Factory
Id=3
Health=250
MineralCost=400
Producer=10
Requirements=4,5,2

[Boson Facility]

[ProductionPlugin]
ProducerList=0
