[Boson Unit]
IsFacility=true
TerrainType=0
Name=War Factory
Id=3
Health=250
MineralCost=400
Producer=10
Requirements=4,5,2
UnitWidth=2.0
UnitHeight=2.0
ProductionTime=160

[Boson Facility]
ConstructionSteps=25

[ProductionPlugin]
ProducerList=0

[Sounds]
OrderSelect=order_select_warfactory

