[Boson Unit]
IsFacility=false
TerrainType=2
Name=Aircraft
Id=10004
Health=70
MineralCost=250
OilCost=150
Producer=2
Requirements=1
UnitWidth=1.5
UnitHeight=1.5
ProductionTime=100
SightRange=7
DestroyedParticles=1001
Weapons=1005

[Boson Mobile Unit]
Speed=6
CanGoOnLand=true
CanGoOnWater=true
