[Boson Unit]
IsFacility=false
TerrainType=0
Name=Mineral Harvester
Id=10003
Health=150
MineralCost=300
OilCost=5
Producer=0
Requirements=13,3
ProductionTime=50
DestroyedParticles=1001

[Boson Mobile Unit]
Speed=3
CanGoOnLand=true
CanGoOnWater=false

[HarvesterPlugin]
CanMineMinerals=true
CanMineOil=false
MaxResources=100
