[Boson Unit]
IsFacility=false
TerrainType=0
Name=Tank
Id=10005
Health=200
MineralCost=250
WeaponRange=3
WeaponDamage=35
Reload=30
Producer=0
Requisities=12,3

[Boson Mobile Unit]
Speed=3
CanGoOnLand=true
CanGoOnWater=false
