[Boson Unit]
IsFacility=true
TerrainType=0
Name=War Factory
Id=3
Health=100
MineralCost=100
Producer=10

[Boson Facility]
CanProduce=true
ProducerList=0
