Source: boson-code
Section: games
Priority: optional
Maintainer: Felix Seeger <felix.seeger@gmx.de>
Build-Depends: debhelper (>> 3.0.0), lib3ds-dev, libkdegames-dev (>= 4:3.1.1-1)
Standards-Version: 3.5.2

Package: boson
Architecture: any
Section: games
Depends: ${shlibs:Depends}, boson-data, boson-bin-data
Description: A OpenGL real-time strategy game.
 Boson is an OpenGL real-time strategy game,
 with the feeling of Command&Conquer(tm) or StarCraft(tm).
 It is built on top of the KDE, Qt and kdegames libraries.
 For more information visit http://boson.sourceforge.net

Package: boson-bin-data
Architecture: any
Section: games
Depends: ${shlibs:Depends}
Description: A OpenGL real-time strategy game.
 Misc data used by all boson executables.

Package: boinfo
Architecture: any
Section: games
Depends: ${shlibs:Depends}, boson-data, boson-bin-data
Description: An info dialog for boson.
 This application provides you with useful information
 about your computer when you have problems running boson.
 It especially aids you or the boson developers in getting
 your graphics card working correctly (when you are using
 the proprietary nvidia drivers) as this is the most common
 source of problems.

Package: borender
Architecture: any
Section: games
Depends: ${shlibs:Depends}, boson-data, boson-bin-data
Description: An info dialog for boson.
 This application provides you with useful information
 about your computer when you have problems running boson.
 It especially aids you or the boson developers in getting
 your graphics card working correctly (when you are using
 the proprietary nvidia drivers) as this is the most common
 source of problems.

Package: bounit
Architecture: any
Section: games
Depends: ${shlibs:Depends}, boson-data, boson-bin-data
Description: Unit editor for boson.
 With this unit editor you can create custom units or edit the
 existing units many different aspects.
 Do not hesistate to send your new units to 
 boson-devel@lists.sf.net!

Package: boprofiling
Architecture: any
Section: games
Depends: ${shlibs:Depends}, boson-data, boson-bin-data
Description: Profiling log viewer for boson.
 This application can display profiling logs as they can
 be generated by boson.
 Most useful for developers, hardly usable for end users.

Package: bocursor
Architecture: any
Section: games
Depends: ${shlibs:Depends}, boson-data, boson-bin-data
Description: Cursor theme editor for boson
 bocursor aids you in editing any cursor themes (especially
 OpenGL cursors) for boson.

Package: boson-bin-all
Architecture: any
Section: games
Depends: ${shlibs:Depends}, boson, boinfo, borender, bocursor, boprofiling, bounit
Description: boson binary metapackage
 Metapackage that depends on all boson programs.

