<!DOCTYPE kpartgui>
<kpartgui name="boeditor">
<MenuBar>
    <Menu name="file">
	<Action name="new_window" />
    </Menu>
    <Menu name="edit" ><text>&amp;Edit</text>
	<Action name="edit_destroy" />
	<Action name="edit_add_player" />
    </Menu>
</MenuBar>
</kpartgui>

