[Boson Unit]
IsFacility=true
TerrainType=0
Name=Helipad
Id=1
Health=200
MineralCost=250
Producer=10
Requirements=4,5,3

[Textures]
Textures=concrt1.jpg,concrt2.jpg
concrt1.jpg=rome_streets1.jpg
concrt2.jpg=docktopside.jpg

