[Boson Unit]
IsFacility=true
TerrainType=0
Name=Helipad
Id=1
Health=200
MineralCost=250
Producer=10
Requisities=4,5,3

[Textures]
Textures=rome_str.jpg,airportr.jpg,elecpane.jpg
airportr.jpg=airportroadcorner2.jpg
rome_str.jpg=rome_streets1.jpg
elecpane.jpg=elecpanelstwo.jpg
