[Boson Unit]
IsFacility=true
TerrainType=0
Name=Helipad
Id=1
Health=200
MineralCost=250
OilCost=0
Producer=10
Requirements=4,5,3
UnitWidth=2.0
UnitHeight=2.0
ProductionTime=90
DestroyedParticles=1001

[Boson Facility]
ConstructionSteps=17

