/* daCode http://www.dacode.org/
 * $Id$
 */

a:link {
	text-decoration: none;
	color:#363636;
}
a:visited {
	text-decoration: none;
	color:#363636;
}
a:active {
	text-decoration: none;
	color:#d5ae83;
}
body {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	background-color:#ffffff;
}
.titlelink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: underline;
	color: #FFFFFF;
	font-size: 13px
}
.newstitle	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: #FFFFFF;
	text-align: left; 
	vertical-align: top; 
	background-color: #736199;
	font-weight: 600
}

.osdn
{
    font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #505050;
}

.newstext	{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: #000000;
	text-align: left; 
	vertical-align: top 
}
.rightnewstext	{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: #000000;
	text-align: right; 
	vertical-align: top 
}
.sboxtext	{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: #000000;
	text-align: left; 
	vertical-align: top 
}
.fortunetext	{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: #000000;
	text-align: right; 
	vertical-align: top 
}
.newslink	{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: #000000;
	text-align: left; 
	vertical-align: top 
}
.newsinfo	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	color: #333333;
	text-align: left; 
	vertical-align: middle; 
	background-color: #bbbbbb
}
.logoinfo	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: center;
	vertical-align: middle;
}
.boxtext    {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px;
  	color: #333333; 
	text-align: left; 
	vertical-align: top;
  	background-color: #FFFFFF
}
.boxheader  {  
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	font-weight: 600; 
	color: #363636; 
	background-color: #d8ecea; 
	text-align: left
}
.commentbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	background-color: #a6bab8;
	text-align: center;
}
.commentboxmiddle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #DAE6E6;
	text-align: center;
}
.topbanner {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #505050;
}
.copyrightinfo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	text-align: center;
	background-color: #FFFFFF
}
.cal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	text-align: right;
}
.calmonth {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #FFFFFF;
	text-align: center;
}
.calcurmonth {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-color: #FFFFFF;
	text-align: center;
}
