[Boson Unit]
IsFacility=true
TerrainType=0
Name=Sam Site
Id=6
Health=100
MineralCost=150
Range=5
Damage=15
Reload=15
CanShootAtAirUnits=true
CanShootAtLandUnits=false
Producer=10
