[Boson Unit]
IsFacility=false
TerrainType=0
Name=Quad
Id=10001
Health=100
MineralCost=100
Range=100
Damage=10
Reload=30
Producer=0

[Boson Mobile Unit]
Speed=4
CanGoOnLand=true
CanGoOnWater=false
