[Boson Unit]
IsFacility=true
TerrainType=0
Name=Barracks
Id=4
Health=250
MineralCost=200
Producer=10
Requirements=5
UnitWidth=2.0
UnitHeight=2.0
ProductionTime=80
DestroyedParticles=1001

[Boson Facility]
ConstructionSteps=15

[ProductionPlugin]
ProducerList=0
