[Boson Unit]
IsFacility=true
TerrainType=0
Name=Barracks
Id=4
Health=250
MineralCost=300
Producer=10
Requirements=5
UnitWidth=2.0
UnitHeight=2.0

[Boson Facility]
ConstructionSteps=20

[ProductionPlugin]
ProducerList=0
