[Boson Unit]
IsFacility=true
TerrainType=0
Name=Barracks
Id=4
Health=250
MineralCost=300
Producer=10
Requirements=5

[Boson Facility]
CanProduce=true
ProducerList=0
