[Boson Unit]
IsFacility=false
TerrainType=0
Name=Mineral Harvester
Id=10003
Health=150
MineralCost=300
Producer=0
CanShootAtAirUnits=false
CanShootAtLandUnits=false
Requirements=13,3

[Boson Mobile Unit]
Speed=3
CanGoOnLand=true
CanGoOnWater=false

[Harvester Plugin]
CanMineMinerals=true
CanMineOil=false
MaxResources=100
