[Boson Unit]
IsFacility=false
TerrainType=0
Name=Mineral Harvester
Id=10003
Health=100
MineralCost=100

[Boson Mobile Unit]
Speed=3
CanGoOnLand=true
CanGoOnWater=false
