[Boson Unit]
IsFacility=true
TerrainType=0
Name=Command Bunker
Id=5
Health=400
MineralCost=600
Producer=10
UnitWidth=3.0
UnitHeight=3.0
ProductionTime=150

[Boson Facility]
ConstructionSteps=22

[ProductionPlugin]
ProducerList=10

[Sounds]
OrderSelect=order_select_cmdbunker
