[Boson Unit]
IsFacility=true
TerrainType=0
Name=Turret
Id=10
Health=100
MineralCost=200
WeaponRange=4
WeaponDamage=15
Reload=10
Producer=10
Requirements=5,2,3

[Boson Facility]
ConstructionSteps=20

