[Boson Unit]
IsFacility=false
TerrainType=0
Name=Batzen
Id=10006
Health=100
MineralCost=150
WeaponRange=4
WeaponDamage=10
Reload=10
Producer=0
Requirements=3
Armor=1
Shield=50

[Boson Mobile Unit]
Speed=4
CanGoOnLand=true
CanGoOnWater=false
