[Boson Unit]
IsFacility=false
TerrainType=2
Name=Aircraft
Id=10004
Health=70
MineralCost=100
WeaponRange=4
WeaponDamage=15
Reload=15
CanShootAtAirUnits=true
CanShootAtLandUnits=true
Producer=2

[Boson Mobile Unit]
Speed=6
CanGoOnLand=true
CanGoOnWater=true
