[Boson Unit]
IsFacility=true
TerrainType=0
Name=Oil Refinery
Id=8
Health=250
MineralCost=400
Producer=10
Requirements=5,2
UnitWidth=2.0
UnitHeight=2.0

[Boson Facility]
CanRefineOil=true
