[Boson Unit]
IsFacility=true
TerrainType=0
Name=Oil Refinery
Id=8
Health=200
MineralCost=250
Producer=10
Requirements=5,2
UnitWidth=2.0
UnitHeight=2.0
ProductionTime=130
DestroyedParticles=1001

[Boson Facility]
CanRefineOil=true
ConstructionSteps=20

