[Boson Unit]
IsFacility=false
TerrainType=0
Name=Oil Harvester
Id=10002
Health=100
Prize=100

[Boson Mobile Unit]
Speed=3
CanGoOnLand=true
CanGoOnWater=false
