/*****  CSS styles for Boson homepage  *****/


/** Important things first **/
body {
  color: #00ff00;
  background-color: #000000;
  font-family: helvetica,arial;
}

/** Stupid buggy Konqueror */
td {
  color: #00ff00;
}


/** Links **/
a {
  color: #40ff40;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  background-color: transparent;
  color: #40d040;
}
a:hover {
  background-color: #204020;
  color: #00ff00;
  text-decoration: none;
}


/** Sidebar **/
.sidebarboxtitle {
  font-weight: bold;
}

a.sidebarboxlink {
}

.sidebardownloadversion {
  font-weight: bold;
}

a.sidebardownloadlink {
  font-weight: bold;
  background-color: transparent;
  color: #80a080;
  text-decoration: none;
}
a.sidebardownloadlink:hover {
  font-weight: bold;
  background-color: transparent;
  color: #80c080;
  text-decoration: underline;
}


/** Boxes **/
.boxtitle {
  font-weight: bold;
}

.boxtext {
}

table.box {
  background-color: #004000;
  color: #00ff00;
}

td.boxcell {
  background-color: #202020;
  color: #00ff00;
}

.bigboxtitle {
  font-weight: bold;
}

.bigboxsubheader {
  font-weight: bold;
}

.bigboxtext {
  margin-left: 5px;
}

table.bigbox {
  background-color: #004000;
  color: #00ff00;
}

td.bigboxtitlecell {
  background-color: #202020;
  color: #00ff00;
}

td.bigboxcell {
  background-color: #081808;
  color: #00ff00;
}

table.bigboxarea {
  background-color: #081808;
  color: #00ff00;
}

td.bigboxsubheadercell {
  background-color: #303030;
  color: #00ff00;
}


/** Main area **/
table.main {
  background-color: #000000;
  color: #00ff00;
}

td.mainarea {
  background-color: #000000;
  color: #00ff00;
}


/** Sidebar **/
table.sidebar {
  background-color: #000000;
  color: #00ff00;
}

table.sidebarbox {
  background-color: #004000;
  color: #00ff00;
}

td.sidebarboxtitlecell {
  background-color: #202020;
  color: #00ff00;
}

td.sidebarboxcell {
  background-color: #081808;
  color: #00ff00;
}


/** News **/
.newstitle {
  font-weight: bold;
}

.newsdate {
  font-style: italic;
}

.newstext {
  margin-left: 5px;
}


/** Screenshots **/
.screenshotdate {
  font-size: small;
  font-style: italic;
}

.screenshotdesc {
}


/** Common stuff **/
.copyright {
  font-size: small;
  font-style: italic;
  background-color: transparent;
  color: #808080;
}
a.copyright {
  font-size: small;
  font-style: italic;
  background-color: transparent;
  color: #a0a0a0;
  text-decoration: none;
}
a.copyright:hover {
  font-size: small;
  font-style: italic;
  background-color: transparent;
  color: #c0c0c0;
  text-decoration: underline;
}

.elapsedtime {
  font-size: x-small;
  font-style: italic;
  background-color: transparent;
  color: #606060;
}
.elapsedtimevalue {
  font-size: x-small;
  font-style: italic;
  background-color: transparent;
  color: #808080;
}

.lastupdate {
  font-size: small;
  background-color: transparent;
  color: #808080;
}
.lastupdatevalue {
  font-size: small;
  background-color: transparent;
  color: #b0b0b0;
}

.counter {
  font-size: small;
  background-color: transparent;
  color: #808080;
}
.countervalue {
  font-size: small;
  background-color: transparent;
  color: #b0b0b0;
}

pre {
  background-color: #103010;
  color: #a0d0a0;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


/** Announcements **/

p.announcement {
  background-color: transparent;
  color: #00ff00;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

h3.announcement {
  background-color: transparent;
  text-align: center;
}
