BODY {
	color: Black;
	background-color: White;
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

DL {
	margin: .8em 0;
	line-height: 1.2;
}

TD {
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

H1 {
	font-size: 24px;
	font-weight : bold;
}

H2 {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}

H3 {
	font-size: 18px;
}

A {
	color: #0000CC;
	text-decoration: none;
}

A:HOVER {
	color: #0000CC;
	text-decoration: underline;
}
